/* Global Reset and Layout Adjustments */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  font-family: Arial, sans-serif;
  overflow: hidden; /* Prevent global page scrolling */
}

#root {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
      135deg,
      rgba(106, 116, 148, 0.5),
      rgba(75, 92, 113, 0.7)
    ),
    url("https://images.unsplash.com/photo-1512072285942-f9c04ad4367e?crop=entropy&cs=tinysrgb&fit=max&ixid=MnwzNjYwMHwwfDF8c2VhY2h8MjB8fGNvbG9yZnVsJTIwYml1dGZvb2xkJTIwbWVkaXElMjBwYXR0ZXJufGVufDB8fHx8fDE2MzAyNzk2OTg&ixlib=rb-1.2.1&q=80&w=1080")
      no-repeat center center;
  background-size: cover;
  overflow: hidden; /* Remove any extra page scroll */
}
